{% extends "main.html" %}
{% comment %}TODO: Please read about i18n and 'trans' template tag and make English default{% endcomment %}
{% block title %}Наши работники{% endblock %}

{% block content %}
<h4>Cтатьи:</h4>
{% for article in article_list %}
    <div style = "background:#eee;padding:5px;margin:2px" >
	<p>
		<h2 style = "color: red">{{ article.title }}</h2>
		<small>Author: {{ article.autor.name }}</small>	
		<div>	
			{{ article.text }}
		</div>
	</p>
	</div>
	
{% endfor %}

{{ e_list }}

{% endblock %}
