{% extends "employee.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}

   <table width="100%" border="0" cellspacing="0" cellpadding="4">
    <tr bgcolor="#eee">
		<td><img src={{ url }}/></td>
		<td>
				<h4>{{ employee.name }}</h4>
				<h4>{{ employee.position_in_team }}</h4>
				{{ url }}
		</td>
		
	</tr>
	</table>
	<table bgcolor="#ccc" width="100%" border="0" cellspacing="0" cellpadding="4">
    <tr>
		<td>
			{{ employee.info }}
		</td>
	</tr>
	</table>
{% endblock %}
