<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
</head>
<body>
	{% load static %}
	{% get_static_prefix as STATIC_URL %}
	<img src="{{ MEDIA_URL }}logo.png" />
   <table width="100%" border="0" cellspacing="0" cellpadding="4">
    <tr class = "top_link">		
		<td><a class = "top_link" href="{% url teamproject_main %}">Главная</a></td>
		<td><a class = "top_link" href="{% url teamproject_employee %}">Работники</a></td>
		<td><a class = "top_link" href="{% url teamproject_article %}">Статьи</a></td>
		<td><a class = "top_link" href="{% url teamproject_projects %}">Наши проекты</a></td>
	</tr>
	</table>
	<table  width="100%" border="0" cellspacing="0" cellpadding="4">
    <tr >
		<td>
			{% block content %}
				<h1>Здравствуйте!</h1>
				Это тестовый вариант сайта компании<br/>
				Вы можете посмотреть информацию о работниках нашей компании<br/>
				Также прочитать наши Статьи<br/>
				Или узнать о наших проектах!
			{% endblock %}
		</td>
    </tr>
   <tr><td> 
		{% block footer %}
		<p>Thanks for visiting my site.</p>
		{% endblock %}
    </td></tr> 
    </table>
</body>
</html>
